<span class="comments">/**</span>
<br>
<span class="space"><span class="comments">* We are both student of Foshan University ,</span></span><br>
<span class="space"><span class="comments">* and learn Computer science technology.</span> </span><br>
<span class="space"> <span class="comments">* So i write some code to you, </span></span><br>
<span class="space"><span class="comments">* and hope you see my heart.</span></span><br>
<span class="space"><span class="comments">*/</span></span><br> Boy i = <span class="keyword">new</span> Boy(<span class="string">"kilmas"</span>);<br>Girl u = <span class="keyword">new</span> Girl(<span class="string">"yanphy"</span>);<br>
<span class="comments">// Feb 28, 2012, i told you i love you. </span><br>
<span class="keyword">boolean</span> isSuccess = = <span class="keyword">true</span>;<br> isSuccess = i.love(u);<br> if (isSuccess
=== <span class="keyword">true</span>) {<br>
<span class="placeholder"><span class="comments">// I dreamed in my dreams. </span></span><br>
<span class="placeholder">i.willMarry(u);</span><br> } else { <br>
<div class="placeholder">
    <span class="comments">// unLuckily, you refused,</span><br>
    <span class="comments">// and I made an important decision.</span><br>
</div>
<span class="placeholder">i.waitFor(u);</span><br> }
<br>
<!--u.accepted();<br>-->
<span class="comments">// Since then, i miss u every day.</span><br> i.miss(u);
<br>
<span class="comments">// But make you unhappy.</span><br> u.unhappy()
<br>
<span class="comments">// Oneday, i give up, i very care of u</span><br> i.giveUp()
<br>
<span class="comments">// Maybe i used to make you unhappy.</span><br>
<span class="comments">// But you know i hope you happy everyday.</span><br>
<span class="keyword">boolean</span> everyYear = <span class="keyword">true</span>;<br>
<span class="keyword">while</span> (everyYear) {<br>
<div class="placeholder">
    <span class="comments">// when Your BirthDay,i hope send my gift to you</span><br>
    <!--<span class="comments">// One day, I know you want to go to the most is to see the aurora.</span><br>
<span class="comments">// Howerver, I'll never chance take you to see the aurora.</span><br>-->
    <span class="comments">// this's my gift , happy birthday.</span><br> i.giftTo(u);
    <br>
</div>
}<br> _